*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #FAFAFA;
  background: #222222;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}