.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100vh;
  grid-template-areas: 
  "one two two three";
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  gap: 1.5rem;
  padding: 1em 2em 2em 2em;
}

.container > .box {
  border-radius: 7px;
}

/* Header/ Navigation */
.header {
  padding: 2em 2em 1em 2em;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 1.2em;
  border: 1px solid #424242;
  border-radius: 7px;
}

.header-logo {
  font-size: 1.3rem;
  font-weight: 900;
  color: #FAFAFA;

  & span {
    font-weight: 400;
  }
}



.header-list {
  display: flex;

  & li {
    margin-left: 4em;
  }

  & li:first-child {
    margin-left: 0;
  }

  & a {
    color: #CCCCCC;
  }

  & a:hover {
    color: #FFFFFF;
  }
}

.fa-solid {
  font-size: 1.1rem;
  color: #FAFAFA;
  margin-left: 1.2em;
}

.header-form {
  border-radius: 4px;
  width: 100%;
  max-width: 250px;

  & input {
    font-size: 1rem;
    width: 100%;
    padding: .5em;
    border-radius: 4px;
    outline: transparent;
    border: none;
  }
}





/* Menu Sidebar */
.menu {
  grid-area: one;
  border: 1px solid #424242;
  border-radius: 7px;
  padding: 1em;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #2f2f2f; */
  /* padding: 1em; */
  /* border-radius: 7px; */
}

.menu-title {
  font-size: 1.5rem;
}

.menu-lines {
  display: none;
}

.menu-add-book {
  display: block;
  width: 100%;
  color: #CCCCCC;
  margin: 1em 0;
  padding: .5em;
  border: 1px solid #2f2f2f;
  background: transparent;
  border-radius: 7px;  
  transition: all .3s ease-in-out;

  &:hover {
    color: lime;
    border: 1px solid lime;
  }
}

.fa-plus {
  color: lime;
  margin: 0;
}

.menu-list {
  margin-top: .5em;
  background: #2f2f2f;
  border-radius: 7px;
  overflow: hidden;

  & a {
    color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 1em;
    border-bottom: 1px solid #3a3a3a;
  }

  & a:hover {
    background: #373737;
  }
}






/* Content Section */
.content {
  grid-area: two;
  background: transparent;
  border: 1px solid #424242;
  border-radius: 7px;
  padding: 1em;
}

.content-title {
  font-size: 1.5rem;
}

.content-form {
  display: flex;
  flex-direction: column;
}

.content-form > input {
  width: 100%;
  font-size: 1.1rem;
  padding: .4em;;
}

.content-form > label {
  margin-top: 1em;
  margin-bottom: .3em;
}

.content-btn {
  color: #FFFFFF;
  margin-top: 2.5rem;
  padding: .6em;
  border: 1px solid #FFFFFF;
  border-radius: 7px;
  text-align: center;
  background: transparent;
  transition: all .3s ease-in-out;


    &:hover {
      color: lime;
      border: 1px solid lime;
  }
}




/* Collection */
.collection {
  grid-area: three;
  border: 1px solid #424242;
  border-radius: 7px;
  padding: 1em;
  
}

.collection-title {
  font-size: 1.5rem;
}







/* Media Query Mobile */

@media screen and (max-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "one"
    "two"
    "three";
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    gap: 2rem;
    padding: 1em;
  }

  .header {
    padding: 1em;
  }

  .header-nav {
    display: none;
  }


  .menu-lines {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
  }
  
  .menu-line {
    height: 3px;
    background: #FFFFFF;
  }

  .menu-add-book {
    display: none;
  }

  .menu-left-sidebar {
    display: none;
  }
}
