.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100vh;
  grid-template-areas: 
  "one two two three";
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  gap: 1.5rem;
  padding: 1em 2em 2em 2em;
}

.container > .box {
  border-radius: 7px;
}

.dashboard-title {
  /* font-size: 1.3rem; */
  padding: 1em;
}
.dashboard-title small {
  color: #bebebe;
}

/* Header/ Navigation */
.header {
  padding: 2em 2em .5em 2em;
  transition: all .3s ease-in-out;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 1.2em;
  border: 1px solid #424242;
  border-radius: 7px;
}

.header-logo {
  font-size: 1.3rem;
  font-weight: 900;
  color: #FAFAFA;

  & span {
    font-weight: 400;
  }
}

.header-list {
  display: flex;

  & li {
    margin-left: 4em;
  }

  & li:first-child {
    margin-left: 0;
  }

  & a {
    display: block;
    color: #bebebe;
    padding: .5em 1em;
    border-radius: 4px;
    transition: all .3s ease-in-out;
    
  }

  & a:hover {
    color: #fafafa;
    background: #333333;
  }
}

.fa-solid {
  font-size: 1.1rem;
  color: #FAFAFA;
  margin-left: 1.2em;
}

.header-form {
  border-radius: 4px;
  width: 100%;
  max-width: 250px;

  & input {
    font-size: 1rem;
    width: 100%;
    padding: .5em;
    border-radius: 4px;
    outline: transparent;
    border: none;
  }
}

/* Hero Section */
.hero {
  margin: 2em;
  border: 1px solid #424242;
  border-radius: 7px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  padding: 1em;
  /* border: 2px solid rgb(219, 255, 219); */
}

.hero-left h1 {
  font-size: 4rem;
  margin-bottom: .2em;
}

.hero p {
  font-size: 1.2rem;
  max-width: 500px;
  line-height: 28px;
  margin-bottom: 2.5em;
}

.hero a {
  font-size: 1rem;
  margin-right: 1em;
}

.hero-btn {
  padding: 1em 2em;
  background: #000000;
  border-radius: 7px;
  transition: background .3s ease-in-out;

  &:hover {
    background: #444444;
    border: 2px solid transparent;
  }
}

.hero-btn--primary {
  color: #FAFAFA;
  background: #333333;
  border: 2px solid transparent;
}

.hero-btn--secondary {
  color: #FAFAFA;
  background: transparent;
  border: 2px solid #333333;
}

.hero-right img {
  border-radius: 7px;
}



/* Menu Sidebar */
.menu {
  grid-area: one;
  border: 1px solid #424242;
  border-radius: 7px;
  /* padding: 1em; */
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #2f2f2f; */
  /* padding: 1em; */
  /* border-radius: 7px; */
}

.menu-lines {
  display: none;
}


.menu-add-book {
  display: block;
  width: 100%;
  color: #CCCCCC;
  margin: 1em 0;
  padding: .5em;
  border: 1px solid #2f2f2f;
  background: transparent;
  border-radius: 7px;  
  transition: all .3s ease-in-out;

  &:hover {
    color: lime;
    border: 1px solid lime;
  }
}

.fa-plus {
  color: lime;
  margin: 0;
}


.menu-link {
    color: #bebebe;
    display: block;
    width: 100%;
    padding: 1em;
    /* border-bottom: 1px solid #3a3a3a; */
  }

.menu-link:hover {
    color: #FAFAFA;
    background: #333333;
  }







/* Content Section */
.content {
  grid-area: two;
  background: transparent;
  border: 1px solid #424242;
  border-radius: 7px;
  /* padding: 1em; */
}

.content-form {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.content-input {
  width: 100%;
  font-size: 1.1rem;
  padding: .7em;;
}

.content-form > label {
  color: #bebebe;
  margin: 2em 0 .7em 0;
  letter-spacing: .75px;
}

.content-form > label:first-child {
  margin-top: 0;
}

.content-btn {
  font-size: 1rem;
  color: #FFFFFF;
  margin-top: 2.5rem;
  padding: .6em;
  border: 2px solid #424242;
  border-radius: 7px;
  text-align: center;
  background: transparent;
  transition: all .3s ease-in-out;
  width: 50%;
  cursor: pointer;


    &:hover {
      background: #444444;
      border: 2px solid transparent;
  }
}




/* Collection */
.collection {
  grid-area: three;
  border: 1px solid #424242;
  border-radius: 7px;  
}

.collection small {
  font-size: 1rem;
  /* padding: 0 1em; */
}

.collection-list {
  display: flex;
  flex-direction: column;
}

.collection-list li {
  order: 5;
  position: relative;
  border-bottom: 1px solid #3a3a3a;
  /* margin-top: 1em; */
}

.collection-list span {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: .5em;
  font-size: .8rem;
  color: #bebebe;
  /* border-radius: 100px;
  background: lime; */
}

.collection-link {
  font-size: 1rem;
  color: #bebebe;
  display: block;
  width: 100%;
  padding: 1em;
  line-height: 24px;
  /* border-bottom: 1px solid #3a3a3a; */
  }

.collection-link:hover {
  color: #FAFAFA;
  background: #333333;
}







/* Media Query Mobile */

@media screen and (max-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "one"
    "two"
    "three";
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    gap: 2rem;
    padding: 1em;
  }

  .header {
    padding: 1em;
    /* display: none; */
  }

  .header-nav {
    display: none;
  }


  .menu-lines {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
  }
  
  .menu-line {
    height: 3px;
    background: #FFFFFF;
  }

  .menu-add-book {
    display: none;
  }

  .menu-left-sidebar {
    display: none;
  }
}
